<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-cell mdl-cell--12-col search-label">
            <div class="row">
                <div class="col-md-4">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="searchStockName"
                               ng-model="selectedStockName" placeholder="Search for stock..."
                                ng-change="createSearchList()"/>
                    </div>
                </div>
                <div class="col-md-2" ng-show="validStockSelected">
                    <div class="mdl-textfield mdl-js-textfield get-quote-btn">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="getQuote()">
                            Get Quote
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col graph-container" ng-hide="hideSearchList">
            <div class="mdl-card__actions card-header">
                <h2 class="mdl-card__title-text">Search Results</h2>
                <div class="list-group list-special">
                    <a href="#" class="list-group-item" ng-repeat="stockName in searchListArray"
                       ng-click="setStockName()">{{stockName}}</a>
                </div>
            </div>
        </div>


        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col card-square" ng-show="hideSearchList">
            <div class="mdl-card__actions card-header">
                <h2 class="mdl-card__title-text">Buy Filters</h2>
            </div>
            <!--<div class="mdl-card__supporting-text">-->
            <!--</div>-->

        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col card-square" ng-show="hideSearchList">
            <div class="mdl-card__actions card-header">
                <h2 class="mdl-card__title-text">Search Filters</h2>
            </div>
            <!--<div class="mdl-card__supporting-text">-->
            <!--</div>-->

        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col card-square" ng-show="hideSearchList">
            <div class="mdl-card__actions card-header">
                <h2 class="mdl-card__title-text">Buy</h2>
            </div>
            <!--<div class="mdl-card__supporting-text">-->
                <div class="row list-special">
                    <div class="col-md-3 right-border">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Parameters<span class="caret"></span></button>
                            <ul class="dropdown-menu scrollable-menu" role="menu">
                                <li><a href="#">Volume</a></li>
                                <li><a href="#">Value</a></li>
                                <li><a href="#">P/E</a></li>
                                <li><a href="#">P/BV</a></li>
                                <li><a href="#">Market Cap</a></li>
                                <li><a href="#">Dividend Yield</a></li>
                                <li><a href="#">Beta</a></li>
                            </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default">
                                    <
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default">
                                    >
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default">
                                    =
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Value" aria-describedby="basic-addon2">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-plus plus-icon" aria-hidden="true"></span>
                    </div>
                <!--</div>-->
            </div>

            <div class="mdl-card__actions mdl-card--border card-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button class="mdl-button mdl-js-button mdl-button--raised">
                            Doji Star
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="mdl-button mdl-js-button mdl-button--raised">
                            Chill star
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col card-square" ng-show="hideSearchList">
            <div class="mdl-card__actions card-header">
                <h2 class="mdl-card__title-text">Sell</h2>
            </div>
            <!--<div class="mdl-card__supporting-text">-->
            <div class="row list-special">
                <div class="col-md-3 right-border">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Parameters<span class="caret"></span></button>
                    <ul class="dropdown-menu scrollable-menu" role="menu">
                        <li><a href="#">Volume</a></li>
                        <li><a href="#">Value</a></li>
                        <li><a href="#">P/E</a></li>
                        <li><a href="#">P/BV</a></li>
                        <li><a href="#">Market Cap</a></li>
                        <li><a href="#">Dividend Yield</a></li>
                        <li><a href="#">Beta</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">
                                <
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">
                                >
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">
                                =
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Value" aria-describedby="basic-addon2">
                    </div>
                </div>

                <div class="col-md-2">
                    <span class="glyphicon glyphicon-plus plus-icon" aria-hidden="true"></span>
                </div>
                <!--</div>-->
            </div>

            <div class="mdl-card__actions mdl-card--border card-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button class="mdl-button mdl-js-button mdl-button--raised">
                            Doji Star
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="mdl-button mdl-js-button mdl-button--raised">
                            Chill star
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col graph-container" ng-show="hideSearchList">
            <div class="mdl-card__actions card-header">
                <h2 class="mdl-card__title-text">Stock Behaviour</h2>
                <button class="mdl-button mdl-js-button mdl-button--raised active" ng-click="createChartConfig(-1825, 1825)">
                    5 Year
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="createChartConfig(-365, 365)">
                    1 Year
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="createChartConfig(-182, 182)">
                    6 Months
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="createChartConfig(-91, 91)">
                    3 Months
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="createChartConfig(-30, 30)">
                    1 Month
                </button>
                <div line-chart-dir></div>
                <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="createChartConfig(dataIndex-dataPoints, dataPoints)">
                    << Prev
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="createChartConfig(dataIndex+dataPoints, dataPoints)">
                    Next >>
                </button>
            </div>
        </div>
    </div>
</main>
