.header-background {
    background-color: #C2185B;
}

.card-square {
    padding: 16px 32px;
    align-items: stretch;
    min-height: 300px !important;
}

.card-header {
    color: #EF3C79;
    font-weight: bold;
}

.graph-container {
    min-height: 300px;
    padding: 16px 32px;
    align-items: stretch;
    display: flex;
}

.search-label {
    margin-left: 5% !important;
}

.get-quote-btn {
    margin-top: 30px !important;
}

.right-border {
    /*border-right: 1px solid #EF3C79;*/
    /*min-height: 50px;*/
}

.operator-section {
    margin-top: 3%;
}

.list-special {
    margin-top: 2%;
}

.list-special .list-group-item {
    border: 0px !important;
    border-bottom: 1px solid #b3d4fc !important;
    border-radius: 0px !important;
    margin-top: 1px
}

.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}

.card-footer {
    margin-top: 20%;
}

.glyph-icon {
    margin-top: 8px;
}

.glyph-icon:hover {
    cursor: pointer;
}

.card-operator-btn-active{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}